.input-wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
  }
  
  .input-label {
    margin-bottom: 8px;
    font-size: 14px;
    font-weight: 500;
    color: #333;
  }
  
  .input-label.danger {
    color: #d9534f;
  }
  
  .input-field {
    /* margin-right: 100px; */
    margin-top: 40px;
    width: 200px;
    padding: 10px 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    outline: none;
    transition: border-color 0.3s, box-shadow 0.3s;
  }
  
  .input-field:focus {
    border-color: #007bff;
    box-shadow: 0 0 4px rgba(0, 123, 255, 0.5);
  }
  
  .input-field:focus + .input-label {
    color: #007bff;
  }
  
  .input-field.danger {
    border-color: #d9534f;
    color: #d9534f;
  }
  
  .input-field.danger:focus {
    border-color: #d9534f;
    box-shadow: 0 0 4px rgba(217, 83, 79, 0.5);
  }
  
  .input-field:disabled {
    background-color: #f5f5f5;
    cursor: not-allowed;
  }
.div{
    margin-left: 100px;
    margin-right: 150px;
}